html{
  margin: 0;
  width: 85%;
}

header {
	font-family: 'Poppins', 'Arial', sans-serif; /*hmm gjør dette noe?*/
}

body {
	font-size: 16px;
}

h1 {
  font-family: 'Poppins', 'Arial', sans-serif;
	color: #f09ca2;
	font-size: 56px;
	/*text-align: center;
	position: relative;*/
}

h2 {
	font-family: 'Poppins', 'Arial', sans-serif;
	color: #4d3142;
	font-size: 40px;
	margin-left: 10%; /*satt noe tilfeldig atm*/
	margin-right: 10%; /*mulig det burde være en annen løsning her*/
	padding-top: 10%;
}

/*mulig løsning for strek under h2-elementer*/
h2:after {
	content: ' ';
	display: block;
	border: 2px solid #f09ca2;
	background-color: #f09ca2; /*fordi det bare er en boks, så uten så blir det en hvit(ufarget) strek inni lol*/
	width: 30%; /*lengden på streken*/
	margin-top: 15px; /*avstand fra h2*/
	margin-left: -2%; /*foreløpig iaf for å få streken til å starte samme sted som h2-teksten*/
	margin-bottom: 30px; /*så ikke det under kan komme helt oppi*/
}

p, blockquote, ul, ol, form{
	font-family: 'Poppins', 'Arial', sans-serif;
	color: #4d3142;
	font-size: 16px;
	line-height: 1.5em; /*?*/
	margin-left: 10%; /*hvis vi ikke bruker noe annet for dette*/
}


.emailLink{
    font-family: 'Poppins', 'Arial', sans-serif;
    color: #4d3142;
    font-size: 20px;
    margin-top: 5%;
    margin-left: 10%;
}

/*ev for å sentrere innhold*/
/*.centered {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	text-align: center;
}*/

.overskrift {
    position: relative;
    left: 20%;
	display: block;
}

.headercentered {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	text-align: center;
}

img.slideshowplaceholder {
	display: block;
}

/*sette introdelen til venstre og bildet til høyre*/
.container {
	background-color: sandybrown; /*kun for å lette kunne se, skal fjernes*/
	width: auto;
	height: 500px;
	padding-top: 20px;
	padding-left: 15px;
	padding-right: 15px;
}

.intro {
	float: left;
	width: 40%;
	height: 400px;
	display: block;
	margin-right: auto;
	margin-left: 5%;
}

#introbilde {
	float: right;
	width: 50%;
	height: 400px;
}

/*for å gjøre bestemorbildet rundt, bestemme størrelse på det og plassering innad i sin "boks"*/
img.BestemorB {
	object-fit: cover;
	border-radius: 50%;
  width: 45%;
  max-width: 350px;
  height: 45%;
  max-height: 350px;
  display: inline-block;
  margin-left: auto;
	margin-right: 5%;
  margin-top: 8%; /*noe, men ikke helt tilfeldig*/
  margin-bottom: 5%;
}

/*bakgrunnsfarge og sånt for "beste oppskrifter"-delen*/
.utvalgteoppskrifter {
	height: 300px;
	background: #e3dcd1;
	margin: none;
}

/* cards */
.card-container {
	padding: 3rem;
	display: grid;
	grid-gap: 2rem;
	grid-template-columns: repeat(auto-fit, minmax(18.2rem, 1fr));
	width: 80%;
	margin: auto;
}

.card-container > div {
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
	transition: 0.3s;
	border-radius: 5px;
	position: relative;
	display: grid;
	grid-template-rows: auto auto;
	object-fit: fill;
	width: 80%;
	margin: 0 auto;
}

.card-container > div:hover {
	box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.card img {
	border-radius: 5px 5px 0 0;
	width: 100%;
	height: 15rem;
}

.card-content {
	padding: 1.25rem;
	line-height: 150%;
}

.card-name {
	color: #4d3142;
	font-weight: bold;
	font-size: 125%;
}

/*for alle linker generelt?*/
a {
	color: #4d3142;
	text-decoration: none !important; /*hvis ikke får den underline til vanlig også, 
    men hva med når man er innpå den siden?*/
}
/*for når man hover over en link*/
a:hover, a:active {
	text-decoration: underline;
}

textarea{
  resize: both;
  overflow: auto;
}