* {
	margin: 0;
}

body {
	font-size: 16px;
	font-family: 'Poppins', Arial, sans-serif;
	background-color: white;
	position: relative;
	padding-bottom: 2.5rem;
	padding-top: 80px; /*gjør plass til navbaren*/
	/* margin:0;
	padding:0;
	padding-bottom: 25%;
	height:100%;
	 */
}

/*bruker vw (viewport width) som enhet for mindre sider, for et responsivt design. Da vil det skalere dynamisk.
media-queries vil brukes for at større sider blir som beskrevet i oppgaven.*/
/*over-overskrift, kun brukt på index-siden*/
h1 {
	font-weight: bold;
	color: #f09ca2;
	font-size: 7vw;
	text-align: center;
	position: relative;
	/* padding-top: 80px; */ /*må ev med fordi navbaren tar plass*/
}

/*for å sentrere tekst, setter overskriften midt i slideshowet/bildet på indexsiden*/
.headercentered {
	position: absolute;
	top: 50%;
	left: 10%;
	right: 10%;
	transform: translate(0%, -50%);
	text-align: center;
}
.overskrift {
	position: relative;
	display: block;
}
img.slideshowplaceholder {
	display: block;
}

/*underoverskrift, eller overskriften brukt på alle sider (den med streken under)*/
h2 {
	font-weight: bold;
	color: #4d3142;
	font-size: 5vw;
	/*for å få det litt inn på siden, som i design-eksemplene. skjer flere steder*/
	margin-left: 10%;
	margin-right: 10%; /*mulig det burde være en annen løsning her*/
	margin-top: 10%;
}

/*fungerende løsning for strek under h2-elementer*/
h2:after {
	content: ' ';
	display: block;
	border: 2px solid #f09ca2;
	background-color: #f09ca2; /*fordi det bare er en boks, så uten så blir det en hvit(ufarget) strek inni lol*/
	width: 20vw; /*lengden på streken*/
	margin-top: 15px; /*avstand fra h2*/
	margin-left: 2px; /*foreløpig iaf for å få streken til å starte samme sted som h2-teksten*/
	margin-bottom: 30px; /*så ikke det under kan komme helt oppi*/
}

/*under-underoverskrifter, brukes på contact-siden*/
h3 {
	color: #4d3142;
	font-size: 16px;
	margin-left: 10%;
	margin-bottom: 10px;
}

/*er egentlig ganske lik h2, bruker for feks den enkelte teknikksiden*/
h4 {
	font-weight: bold;
	color: #4d3142;
	font-size: 5vw;
	margin-left: 10%;
	margin-right: 10%;
	margin-top: 10%;
}
h4:after {
	content: ' ';
	display: block;
	border: 2px solid #f09ca2;
	background-color: #f09ca2; /*fordi det bare er en boks, så uten så blir det en hvit(ufarget) strek inni lol*/
	width: 20vw; /*lengden på streken*/
	margin-top: 15px; /*avstand fra h2*/
	margin-left: 2px; /*foreløpig iaf for å få streken til å starte samme sted som h2-teksten*/
	margin-bottom: 20%; /*så ikke det under kan komme helt oppi*/
}

/*div vanlig skrift*/
p,
blockquote,
ul,
ol,
form {
	color: #4d3142;
	font-size: 14px;
	margin-left: 10%; /*hvis vi ikke bruker noe annet for dette*/
}

.emailLink {
	color: #4d3142;
	font-size: 14px;
}

/*media query for skriftstørrelser*/
/*stor skjerm*/
@media (min-width: 800px) {
	h1 {
		font-size: 56px;
	}
	h2 {
		font-size: 40px;
	}
	h2:after {
		width: 160px;
	}
	h3 {
		font-size: 18px;
	}
	p,
	blockquote,
	ul,
	ol,
	form,
	.emailLink {
		font-size: 16px;
	}
}

/*veldig liten skjerm, så ting ikke blir knøttsmått*/
@media (max-width: 350px) {
	h1 {
		font-size: 24px;
	}
	h2 {
		font-size: 18px;
	}
	h2:after {
		width: 70px;
	}
	h3 {
		font-size: 16px;
	}
	p,
	blockquote,
	ul,
	ol,
	form,
	.emailLink {
		font-size: 14px;
	}
}

/*sette intro/info-delen til venstre og bildet til høyre*/
.todelt {
	display: block;
	margin-bottom: 12.5%;
	margin-left: 1%; /*for å få ting til å ha likt innrykk*/
}

/*tekstdel i .todelt*/
.intro {
	display: block;
	margin-right: 10%; /*så teksten ikke går helt bort i kanten på høyre siden*/
	margin-bottom: 10%; /*margin til bildet under*/
	position: relative;
}

/*bildedel i .todelt. inkl å gjøre det rundt*/
.bildeklipp {
	width: 50vw;
	height: 50vw;
	max-width: 350px;
	max-height: 350px;
	position: relative;
	overflow: hidden;
	border-radius: 50%;
	margin-left: 10%;
	margin-bottom: 10%;
}

/*annen str for kontaktbildet på contact*/
#kontaktbilde {
	width: 45vw;
	height: 45vw;
	max-width: 250px;
	max-height: 250px;
}

/*for bilder generelt*/
img {
	display: block;
	height: 100%; /*la stå. tas dette vekk forsvinner liksom innholdet i bildet lol?*/
}

/*media query for bildene ved siden av teksten istedenfor under*/
@media (min-width: 800px) {
	.todelt {
		margin-top: 10%;
		margin-left: 6%;
		display: grid;
		grid-template-columns: 50% 50%;
	}

	.bildeklipp {
		margin-right: 10%;
		margin-left: auto;
		margin-top: auto;
		margin-bottom: auto;
	}
}

/*bakgrunnsfarge og sånt for "beste oppskrifter"-delen*/
.utvalgteoppskrifter {
	/* height: auto; */
	height: 500px; /*midlertidig for å kunne se, må endres når cards legges til*/
	background: #e3dcd1;
	/*noe form for marginer må kanskje legges til på en litt annen måte, 
	sjekk html-delen for å se. mulig ekstra div, eller å style cards direkte (hvis det ikke alt er gjort)*/
	/* margin: none; */
	/* margin-bottom: 10%; */
	padding-top: 2.5%;
}

/*for epost-delen på contact-side*/
#epost {
	margin-bottom: 100px;
}

.epostbilde {
	margin-left: 10%;
	display: inline;
	width: 40px;
	border-radius: 50%;
	transform: translate(0%, 40%);
}

.emailLink {
	margin-top: auto;
	margin-left: 2.5%;
	margin-bottom: 30px;
	text-decoration: underline;
}

@media (max-width: 350px) {
	.emailLink {
		display: block;
		margin-left: 10%;
		margin-top: 40px;
	}
	#epost {
		margin-bottom: 15%;
	}
}

/*forms/kontaktskjemaet*/
form {
	margin-left: 10%;
}

form input,
textarea,
select {
	margin-top: 10px;
	margin-bottom: 30px;
	border-radius: 3px;
	border: 1px solid #4d3142;
}

form label {
	font-weight: bold;
}

form input {
	padding: 10px;
	width: 80%;
	max-width: 278px;
}

form select {
	padding: 10px;
	width: 86%;
	max-width: 300px;
}

form textarea {
	padding: 10px;
	width: 80%;
	/* max-width: 300px; */
	height: 150px;
}

/*media query for forms*/
@media (min-width: 800px) {
	form textarea {
		width: 50%;
		min-width: 578px;
	}
}

/*send inn-knapp på kontaktsiden*/
#sendinn,
#sendinnnojs {
	background-color: #4d3142;
	font-size: 16px;
	font-weight: bold;
	color: white;
	cursor: pointer;
	width: 250px;
	height: 50px;
	border-radius: 7.5px;
	border: none;
	margin-bottom: 50px;
}
/* ev andre ting    */
#sendinn:hover {
	background-color: #3d2634;
}

/*sorteringsknapper*/
.sorteringsknapp {
	font-size: 16px;
	color: #4d3142;
	cursor: pointer;
	width: 200px;
	height: 50px;
	border-radius: 50px;
	border: #4d3142 solid 1px;
	background-color: #ffffff;
	/* margin-top: 5%; */
	/* margin-bottom: 50px; */
}
#borghildknapp {
	margin-left: 10%;
	margin-top: 10%;
	margin-bottom: 5%;
}

#brukereknapp {
	margin-left: 25px;
}

#borghildsoppskrifter {
	margin-top: 30px;
}

#teknikknapp {
	margin-left: 10%;
}

@media (max-width: 500px) {
	#brukereknapp {
		margin-left: 10%;
		margin-top: 2%;
		margin-bottom: 5%;
		display: block;
	}
}

/*for den spesifikke teknikksiden, må ordnes*/

/* .techniquetext {
	max-width: 40%;
}

.techniqueimage {
	display: inline;
	max-width: 30%;
	float: right;
	margin-right: 10%;
} */
.recipeimage{
	max-width: 40%;

}

/* cards */
.card-container {
	padding: 3rem;
	display: grid;
	grid-gap: 2rem;
	grid-template-columns: repeat(auto-fit, minmax(18.2rem, 1fr));
	width: 80%;
	margin: auto;
}

.card-container > div {
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
	transition: 0.3s;
	border-radius: 5px;
	position: relative;
	display: grid;
	grid-template-rows: auto auto;
	object-fit: fill;
	width: 80%;
	margin: 0 auto;
}

.card-container > div:hover {
	box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.card img {
	border-radius: 5px 5px 0 0;
	width: 100%;
	height: 15rem;
}

.card-content {
	padding: 1.25rem;
	line-height: 150%;
}

.card-name {
	color: #4d3142;
	font-weight: bold;
	font-size: 125%;
}

.content_container, .container{
	padding-bottom: 20vh;
}

/*for alle linker generelt?*/
a {
	color: #4d3142;
	text-decoration: none; /*hvis ikke får den underline til vanlig også, 
    men hva med når man er innpå den siden?*/
}
/*for når man hover over en link*/
/* a:hover,
a:active {
	text-decoration: underline;
} */

a.emailLink {
	text-decoration: underline;
}

textarea {
	resize: both;
	overflow: auto;
}

/*fiks herfra og ned for modularity*/
form {
	padding-bottom: 10%;
}
#nojsContactForm textarea,
#jsContactForm textarea {
	height: 200px;
	width: 60%;
}

/* Styling of the footer */
.boldfooter {
	font-weight: bold;
}

footer {
	position: absolute;
	bottom: 0;
	background-color: #eae8e6;
	width: 100%;
	height: 10%;
	clear: inline-start;
}
#footerLogo {
	object-fit: contain;
	width: 20%;
	padding: 2% 2% 0 2%;
	margin-left: 15%;
}
.footerLeft {
	width: 37%;
	float: left;
	display: block;
	padding: 2% 2% 0 2%;
	padding-left: 10%;
}
.footerRight {
	width: 47%;
	float: left;
	display: block;
	padding: 2% 2% 0 2%;
}

/* Navigation Bar styling */
/* Navbar container */
.NavigationBar {
	font-family: 'Poppins', Arial, sans-serif;
	background-color: #ffffff;
	height: 80px;
	width: 100%;
	display: inline-block;
	position: fixed;
	top: 0;
	z-index: 5;
}

/* Format the text links */
.NavBarBtn {
	display: inline;
	font-size: 2.5vw;
	color: #4d3142;
	text-align: center;
	height: 100%;
	padding: 20px 0px 0px 0px;	
	margin-left: 20px;
	border-bottom: 5px solid transparent;
}

#NavbarIcon {
	float: left;
	height: 100%;
	padding: 15px 0 0 2.5%;
	z-index: 10;
}

#NavbarIcon img {
	height: auto;
	width: auto;
	box-sizing: fill;
	max-height: 50px;
	max-width: 75px;
	margin: 0;
	z-index: 12;
}

/* Media queries for navbar*/
@media (min-width: 800px) {
	.NavBarBtn {
		font-size: 20px;
	}
}

/*str for navbaren, og at den "forsvinner" når det scrolles opp på små skjermer*/
@media (max-width: 580px) {
	.NavBarBtn {
		font-size: 0.9em;
		display: inline-block;
		padding: 0.3em 4% 0.3em 4%;
	}
	/*disse to henger sammen!*/
	.NavigationBar {
		position: relative;
	}
	body {
		padding-top: 0;
	}
}

@media (max-width: 450px) {
	#recipeBtn {
		margin-left: 10%;
	}
	.NavBarBtn {
		margin-left: 8%;
	}
}

