<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap" rel="stylesheet">
	<link rel="stylesheet" href="css/style.css">
	<title>Oppskrift</title>

</head>


<div class="card">
  <div class="container">
	<h4>{{ name }}</h4> 
    <img src="{{ picture }}" alt="" />
    <p>{{ description }}</p>
  </div>
</div>